/*additional*/
body {
	color: #202020;
	padding-top: 40px; /* for topbar */
}

textarea.code {
	font-family: Monaco, Courier, Mono; 
	width: 640px;
	height: 20em;
}

.outer {
	margin-top: 17px;
}

.content {
	display: none;
}

.content.active {
	display: block;
}

.secondary-nav img.gravatar { /* gravatar */
	margin-right: 8px; 
	float:right; 
	margin-top: 6px;
}


/* 
	Form
*/
.form-footer {
	padding: 13px;
}
.form-footer:before, .form-footer:after {
  display: table;
  content: "";
  zoom: 1;
}
.form-footer:after {
  clear: both;
}
.form-footer .btn {
	float: right;
	margin-left: 5px;
}

/*
	Sidebar
*/

.sidebar {
	
}

.sidebar_section {
	background-color: #ddf4fb;
	padding: 11px;
	margin-top: 17px;
	display: none;
}

.sidebar_section h5 {
	line-height: 1em;
	margin-bottom: 17px;
}

.sidebar_section button.btn.small {
	padding: 4px;
}

.sidebar_section button {
	float: right;
}

.sidebar_section .items, li {
	margin-left: 11px;
}
.sidebar_section .items div {
	height: 28px;
}

#wbuserlist img.gravatar {
	margin-right: 8px; 
	margin-bottom: -9px;
}

#message_area {
	margin-top: 11px;
}

/* color selector */

div#pen_style {
	height: 25px;
}

span.color-selector {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-left: 17px;
	border: 4px solid #ddf4fb;
	float: left;
	cursor: pointer;
}

span.color-selector.selected {
	border: 4px solid #aaa;
}

span.color-selector.green {
	background-color: green;
}

span.color-selector.black {
	background-color: black;
}

span.color-selector.blue {
	background-color: blue;
}

span.color-selector.red {
	background-color: red;
}

.round {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

#wblabel {
	font-size: 24px;
	padding-bottom: 17px;
	font-family: "Delius", inherit;
	color: blue;
}

/*
	Items
*/

.wbitem {
	cursor: pointer;
	min-height: 18px;
	font-size: 18px;
	padding-bottom: 11px;
	font-family: "Delius", inherit;
}


input.edit_wbitem {
	border: 0px;
	font-family: inherit;
	color: inherit;
	width: 80%;	
	text-align: left;
	font-size: 18px;
	height: 27px;
}

/*
	Pen styles
*/

.brand {
	font-family: 'Delius', inherit;
}

.pen-font-delius {
	font-family: "Delius", inherit;	
}

.pen-color-blue {
	color: blue;
}

.pen-color-red {
	color: red;
}

.pen-color-black {
	color: black;
}

.pen-color-green {
	color: green;
}
