/*additional*/
body {
	color: #202020;
	padding-top: 40px; /* for topbar */
}

textarea.code {
	font-family: Monaco, Courier, Mono; 
	width: 640px;
	height: 20em;
}

.outer {
	margin-top: 17px;
}

.content {
	display: none;
}

.content.active {
	display: block;
}

/* 
	Form
*/
.form-footer {
	padding: 13px;
}
.form-footer:before, .form-footer:after {
  display: table;
  content: "";
  zoom: 1;
}
.form-footer:after {
  clear: both;
}
.form-footer .btn {
	float: right;
	margin-left: 5px;
}

/*
	Sidebar
*/

.sidebar {
	background-color: #ddf4fb;	
	padding: 17px;
}

.sidebar_section {
	margin-top: 17px;
	display: none;
}

.sidebar_section button {
	float: right;
}

.sidebar_section .items {
	margin-left: 11px;
}
.sidebar_section .items div {
	height: 28px;
}

#message_area {
	margin-top: 11px;
}

.round {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

#wblabel {
	font-size: 24px;
	padding-bottom: 17px;
	font-family: "Delius", cursive;
	color: blue;
}

/*
	Items
*/

.wbitem {
	cursor: pointer;
	min-height: 18px;
	font-size: 18px;
	padding-bottom: 11px;
	font-family: "Delius", cursive;
}


input.edit_wbitem {
	border: 0px;
	font-family: inherit;
	color: inherit;
	width: 80%;	
	text-align: left;
	font-size: 18px;
	height: 27px;
}

/*
	Pen styles
*/

.pen-font-delius {
	font-family: "Delius", cursive;	
}

.pen-font-pacifico {
	font-family: 'Pacifico', cursive;
}

.pen-font-rock-salt {
	font-family: 'Rock Salt', cursive;
}

.pen-color-blue {
	color: blue;
}

.pen-color-red {
	color: red;
}

.pen-color-black {
	color: black;
}

.pen-color-green {
	color: green;
}
