<div class="row">
	<div class="span11">
		<div class="whiteboard_area">
			<div id="wblabel">My Whiteboard</div>
			<div class="wbitems">
			</div>
		</div>
	</div>
	<div class="span5">
		<div class="sidebar">
			<div class="sections">
				<div class="sidebar_section round" id="wb_login" style="margin-top: 0px">
				</div>
				<div class="sidebar_section round" id="wb_list">
					<button class="btn small" onclick="javascript:app.wb.new_whiteboard();">New</button>
					<h5>My Whiteboards</h5>
					<div class="items"></div>
					<div class="no_items help-block">None saved yet</div>
				</div>
				<div class="sidebar_section round" id="pen_style">
					<span class="green color-selector selected" data-color="green"></span>
					<span class="black color-selector" data-color="black"></span>
					<span class="red color-selector" data-color="red"></span>
					<span class="blue color-selector" data-color="blue"></span>
				</div>
				<div class="sidebar_section round" id="wbuserlist">
					<button class="btn small">Add</button>
					<h5>Shared With</h5>
					<div class="items"></div>
					<div class="no_items help-block">Private</div>
				</div>
			</div>
			<div id="message_area">
			</div>
		</div>
	</div>
</div>
<script>
// make a new app
new WhiteboardApp();
</script>